.home {
  width: 100vw;
  height: 100vh;

}

.headerHome {
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  height: 15%;
  /* position: fixed; */
  background-color: #111111;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

.headerIndex {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.logoContainer {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5px;
}

.logoHeader {
  width: 20%;
  height: 90%;
  margin-left: 25px;
  border-radius: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchContainer {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;

}

.inputText {
  border: none;
  border-radius: 5px;
  width: 45%;
  height: 50%;
  font-size: 1.5rem;
  padding-left: 12px;
  margin-right: 15px;
  background-color: rgba(80, 80, 80, 0.521);

  color: #FFF
}

.headerLegend {
  width: 100%;
  height: 50%;
  background-color: #1b1b1b;
  bottom: 0;
  border-top: ridge;
  border-bottom: ridge;
  border-width: 2.5px;
  border-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerInformation {
  width: 100%;
  height: 80%;
  background-image: url("../../assets/fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerHome {
  width: 100vw;
  height: 8%;
  background-color: #0f0f0f;
  border-top: solid;
  border-width: 1.5px;
  border-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.555);
  align-items: center;
  text-align: center;

}

.footerHome p {
  font-size: 14px;
  position: relative;
  top: -20%;
}

.titlePage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.legendText {
  color: #BEBABA;
  font-family: monospace;
  font-size: 1.8rem;
  position: relative;
}

.containerContent {
  width: 90%;
  height: 90%;
  display: flex;

  justify-content: space-evenly;
  align-items: center;
}


.contentIndex {
  background-color: #0f0f0f81;
  width: 60%;
  border-radius: 5px;
  height: 105%;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -2.5%;

}

.contentSecundary {

  width: 30%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -4.5%;

}


.contentItem {
  width: 90%;
  height: 29%;
  border-radius: 5px;
  background-color: #0f0f0f;
}

.scrollContent {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scrollContent::-webkit-scrollbar {
  position: relative;
  right: -5px;
  height: 4px;
  width: 8px;
}

.scrollContent::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 5px;
  display: none;
  position: relative;
  right: -5px;
}

.scrollContent::-webkit-scrollbar-thumb {
  background: rgb(56, 56, 56);
  border-radius: 4px;
  position: relative;
}

.scrollContent::-webkit-scrollbar-thumb:hover {
  background: rgb(41, 41, 41);
}

.newsName {
  color: #fffb;
  font-size: 18px;
  border-bottom: rgba(255, 255, 255, 0.541) 1px solid;
  padding-right: 6px;
  margin-bottom: 6px;
}

.newsNameMain {
  color: #fffb;
  font-size: 20px;
  border-bottom: rgba(255, 255, 255, 0.541) 1px solid;
  padding-left: 6px;
  margin-bottom: 8px;
}